<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.description }}" name="description">
  <title>Catskull Records</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>

  <header>

    <div class="flex-container">

    <div class="box" style="background: none; box-shadow: none; margin-bottom: 0;">
      <div style="line-height: 0; text-align: center;">
        <img
          style="width: 85%;margin-top: 1rem;margin-bottom: 1rem;image-rendering: pixelated;box-shadow: 30px 30px 0px rgba(35, 25, 248, 0.3);background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(35, 25, 248, 0.3) 50%);"
          src="/images/logo.png">
      </div>
    </div>

  </header>

  <main>

  <div class="flex-container">

    {% for post in site.posts %}
    <a href="{{ post.external_url }}" target="_blank">
      <div class="box item">
        <picture>
          <source type="image/webp" srcset="{{ post.art_path }}.webp">
          <img src="{{ post.art_path }}.jpg" alt="{{ post.artist }} - {{ post.title }} album art" />
        </picture>
        {% assign today_date = 'now' | date: '%s' %}
        {% assign release_date = post.date | date: '%s' %}
        {% assign diffSeconds = today_date | minus: release_date %}
        {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
        {% if diffDays < 90  %}
        <div class="new"></div>
        {% endif %}
        <div class="munro description">
          <div class="album-artist">
            {{ post.artist }}
          </div>
          <br>
          <div class="album-title">
            {{ post.title }}
          </div>
        </div>
        <!-- <div class="box-shadow" style="height: 4px; left: 30px; bottom: -34px; width: calc(100%  - 4px);"></div>
        <div class="box-shadow" style="width: 4px; top: 30px; right: -34px; height: calc(100% - 4px);"></div> -->
      </div>
    </a>
    {% endfor %}

  </div>

</body>

</html>